body   
{  
    /* height: 125vh;   */
    margin-top: 40px;  
    /* padding: 30px;   */
    background-size: cover;  
    font-family: sans-serif;  
}

header {
    padding-left: 160px;
    background-color: #111;
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 0px;  
    height: 30px;  
    display: flex;
    align-items: center;  
    box-shadow: 0 0 25px 0 black;  
} 

header * {  
    display: inline;  
}  
header li {  
    margin: 20px;  
}  
header li a {  
    color: #818181; 
    text-decoration: none;  
}  

header a:hover {
    color: #f1f1f1;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 40px 10px 30px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main-display {
    padding-left: 160px;
}